# ===============================
# 🛑 ARQUIVOS A SEREM IGNORADOS
# ===============================

# Variáveis sensíveis
.env

# Dependências do Node
node_modules/

# Logs e temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Cache e builds locais
/dist
/build
/.cache
/.vscode

# Uploads temporários (se usados localmente)
uploads/
temp/
